
article{
    margin-top: 80px;
    padding: 50px 0;
}

h1{
    /* margin-bottom: 80px!important; */
}


/*brand*/
#brand{
    height: fit-content;
    padding-top: 150px;
    text-align: center;
}

/*brand story*/
.brand-story{
    position: relative;
    width: 100%;
    height: 600px;
    background: url(/img/sub1_txt_bg.jpg) center center no-repeat;
    background-size: cover;
}

.brand-story-text{
    position: absolute;
    top: 0; bottom: 0;
    left:0; right:0;
    width: 70%;
    height: fit-content;
    margin: auto;
    font-size: 1.2rem;
    color: var(--gray);
}

.brand-story-text img{
    width: 80%;
    max-width: 450px;
    margin: 20px 0;
}

.brand-story-text p{
    width: fit-content;
    margin: auto;
    word-break: keep-all;
    line-height: 2;
}

/*brand product*/
.brand-product{
    height: fit-content;
    background: url(/img/bg_pattern_slash.png) 0 0 repeat;
}

.brand-product-box{
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 600px;
    padding-top: 50px;
}

.brand-product-1, .brand-product-2{
    position: relative;
    width: 45%;
    height: 100%;
    border-radius: 10px 10px 80px 10px;
    overflow: hidden;
}

.brand-product-img{
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.brand-product-1 .brand-product-img{
    background: url(/img/sub2_bg01.png) center center no-repeat;
    background-size: cover;
}

.brand-product-2 .brand-product-img{
    background: url(/img/sub2_bg02.png) center center no-repeat;
    background-size: cover;
}

.brand-product-text{
    position: absolute;
    bottom: -100%;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: rgba(0,0,0,0.8);
    color: var(--gray);
    transition: all 0.5s ease;
    z-index: 10;
}

.brand-product-1:hover .brand-product-img{
    filter: blur(2px) grayscale(30%);
}
.brand-product-2:hover .brand-product-img{
    filter: blur(2px) grayscale(30%);
}

.brand-product-1:hover .brand-product-text{
    bottom: 0;
}
.brand-product-2:hover .brand-product-text{
    bottom: 0;
}

.brand-product-text h2{
    margin-bottom: 1.2em;
    font-size: 2.5rem;
}

.brand-product-text ul{
    width: fit-content;
    height: auto;
    margin: 0 auto;
    list-style-type: square;
    text-align: left;
}

.brand-product-text ul li{
    margin-bottom: 1em;
    font-size: 1.2rem;
}

/*brand slogan, bi*/
#bi{
    margin-top: 80px;
    
}

.brand-slogan{
    width: 100%;
    padding: 30px 0;
}

.brand-slogan img{
    width: 80%;
    max-width: 500px;
    margin: 10px 0;
}
.brand-slogan p{
    width: 80%;
    margin: 10px auto;
    word-break: keep-all;
}

.brand-bi-box{
    width: 100%;
    height: auto;
}

.brand-bi-box img{
    width: 30%;
    max-width: 100px;
}

.brand-bi-text{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: auto;
    margin-left: 20px;
    word-break: keep-all;
}
.brand-bi-text p{
    width: 75%;
}
.brand-bi-1, .brand-bi-2{
    display: flex;
    flex-flow: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
}
.brand-bi-1 .brand-bi-text{
    background: url(/img/sub3_bg01.png) center center no-repeat;
    background-size: contain;
    height: 200px;
}

.brand-bi-2 .brand-bi-text{
    background: url(/img/sub3_bg02.png) center center no-repeat;
    background-size: contain;
    height: 200px;
}




/*map*/
#map{
    height: auto;
    text-align: center;
    margin: 0;
}

#map article{
    margin-top: 0;
    padding-top: 0;
}

.map-box{
    display: flex;
    align-items: center;
    width: 100%;
    height: 500px;
    padding-top: 20px;
}

.map-view{
    width: 70%;
    height: 100%;
}
.map-text{
    width: 30%;
    height: 100%;
    background-image: linear-gradient(to bottom, #434343, #111111);
    /* background: var(--black); */
}
.map-text h3{
    color: var(--gray);
}
.map-text p{
    padding: 10px 0;
    color: var(--gray);
}

/*
    반응형 mediaQuery
    1360
    1200
    945
    768
*/

@media (max-width: 1200px){
    /* .brand-story-text{
        height: fit-content;
    } */
}

@media (max-width: 945px){
    .brand-product-box{
        flex-flow: column;
        height: 90vh;
    }
    .brand-product-1, .brand-product-2{
        width: 100%;
        height: 46%;
    }

    .brand-bi-box{
        /* height: 80vh; */
        margin-top: 40px;
    }

    .brand-bi-1, .brand-bi-2{
        flex-flow: column;
        width: 100%;
        padding: 0;
    }

    .brand-bi-text{
        width: 100%;
        height: fit-content;
        margin-left: 0;
    }

    .brand-bi-1{
        margin-bottom: 20px;
    }


    .map-box{
        flex-flow: column;
        height: 80vh;
    }

    .map-view{
        width: 100%;
        height: 70%;
    }

    .map-text{
        width: 100%;
        height: 30%;
    }
    .map-text h2{
        height: 100%;
        margin: 0 auto;
        line-height: calc(80vh * 0.28);
    }
    .map-text h3,
    .map-text p{
        text-align: left;
    }

}


@media (max-width:768px){
    .map-view{
        height: 60%;
    }
    .map-text {
        height: 40%;
    }
    .map-text h2{
        height: fit-content;
        line-height: 2em;
    }
    .map-text h3, .map-text p{
        text-align: center;
    }
}

@media (max-width:450px){
    .brand-bi-box img{
        margin-bottom: 15px;
    }
    .brand-bi-1{
        padding: 20px 0;
        background: var(--gray);
        border-radius: 10px;
    }
    .brand-bi-2{
        padding: 20px 0;
        background: var(--gray);
        border-radius: 10px;
    }
    .brand-bi-1 .brand-bi-text{
        background: none;
        width: 100%;
        height: fit-content;
        padding: 0;
    }
    .brand-bi-2 .brand-bi-text{
        background: none;
        height: fit-content;
        padding: 0;
    }
}

@media (max-width:375px){
}