.business-box {
    width: 100%;
}


/*cost 창업비용*/
#cost {
    padding-top: 150px;
}

.table {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    background: linear-gradient(to top, #e1e1e1 0%, #f0f0f0 100%);
    text-align: center;
    border-radius: 0 0 15px 15px;
    box-shadow: 2px 2px 3px #aaa;
}

/* .table::before{
    content: "";
    position: relative;
    top: -15px;
    display: block;
    width: 80vw;
    max-width: 1500px;
    height: 33px;
    background-image: radial-gradient(
        transparent 50%,
        #e9e9e7 50%
    );
    background-size: 33px;
    background-repeat: repeat-x;
    background-position-x: -2px;
    background-position-y: -18px;
    box-shadow: 2px 2px 3px #aaa;
    z-index: -1;
} */


.table .dot {
    position: relative;
    top: -15px;
    left: -20px;
    display: block;
    width: 80vw;
    max-width: 1500px;
    height: 33px;
    background-image: radial-gradient(transparent 50%,
            #f0f0f0 50%);
    background-size: 33px;
    background-repeat: repeat-x;
    background-position-x: 0;
    background-position-y: -18px;
    /* box-shadow: 2px 2px 3px #aaa; */
    /* z-index: 0; */
}

.table .row {
    display: table-row;
}

.table .td {
    display: table-cell;
    padding: 20px 5px;
}

.td-1,
.td-3 {
    width: 30%;
}

.td-2 {
    width: 40%;
}

.border-bottom {
    border-bottom: 1px solid #aaa;
}

.border-top {
    border-top: 1px solid #aaa;
}

/*창업절차*/
#process {
    height: fit-content;
}

.process-list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.process-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 20px;
    margin-right: 50px;
    background: linear-gradient(to top, #d5d4d0 0%, #fff 100%);
    box-shadow: 2px 2px 3px #aaa;
    border-radius: 50%;
    text-align: center;
    line-height: 1;
}

.process-list img {
    display: block;
    width: auto;
    height: 45%;
}

.process-list p {
    display: block;
    margin: 20px 0;
    font-size: 1.2em;
}

.process-list .bx-right-arrow-alt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25.5%;
    display: block;
    width: 1em;
    height: 2em;
    margin: auto;
    font-size: 2em;
    line-height: 2em;
    color: #aaa;
}

/*창업문의*/

#inquiry form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.form-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 50%;
    height: 200px;
    padding: 10px;
}

.form-left .form-detail {
    display: flex;
}

.form-detail:nth-child(2) {
    margin: 10px 0;
}

.form-left label {
    display: block;
    width: 40%;
    padding: 10px 10px 10px 0;
    text-align: right;
    font-weight: bold;
}

.form-left input,
.form-left select {
    width: 60%;
    padding: 5px;
}

.form-left .text-enter-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.form-left select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form-right {
    width: 50%;
    height: 200px;
    padding: 10px;
}

.form-right textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.button {
    position: relative;
    display: block;
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(120deg, var(--orange) 0%, var(--yellow) 100%);
    background-size: 130%;
    background-position-x: 0%;
    margin: auto;
    margin-top: 10px;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    background-position-x: 100%;
}


/*
    반응형 mediaQuery
    1360
    1200
    945
    768
*/

@media (max-width: 945px){

    #inquiry form {
        height: auto;
    }

    .form-left {
        width: 100%;
        margin-bottom: 30px;
    }

    .form-left label {
        width: 70px;
    }

    .form-left input,
    .form-left select {
        width: calc(100% - 70px);
    }

    .form-right {
        width: 100%;
        margin-bottom: 30px;
    }
}


@media (max-width:768px) {
    .bx-menu {
        display: block !important;
        color: #000;
    }

    .td-detail {
        line-height: 1.8em !important;
        letter-spacing: -1px;
    }

    .process-list {
        width: 150px;
        height: 150px;
        margin-right: 20px;
    }
}

@media (max-width:480px){
    .process-list{
        width: 180px;
        height: 180px;
    }

    .process-list .bx-right-arrow-alt{
        top: -123%;
        left: 0; right: 0;
        transform: rotate(90deg);
    }

    .form-left{
        height: fit-content;
    }

    .form-left .form-detail{
        flex-direction: column;
        margin-bottom: 20px;
    }

    .form-left label{
        width: 100%;
        text-align: center;
    }

    .form-left input, .form-left select{
        width: 100%;
    }
}