
/*
    ------------------business START----------------------
*/

/*창업비용*/
.business-table {
    width: 100%;
    height: 600px;
    margin: auto;
    padding: 1em;
    text-align: center;
    word-break: keep-all;
    background: linear-gradient(to top, #d5d4d0 0%, #e9e9e7 100%);
    border-radius: 10px;
    border-collapse: collapse;
    border: none;
}

.business-table thead tr {
    border-bottom: 1px dashed gray;
}

.business-table tfoot tr {
    font-weight: 600;
    border-top: 1px dashed gray;
}

.business-table thead tr td,
.business-table tfoot tr td {
    font-size: 1.1em;
    letter-spacing: 1px;
}

.business-table td {
    padding: 1em;
}


/*창업절차*/
.process-list-box {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.process-list {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    margin: 20px;
    margin-right: 50px;
    padding-top: 100px;
    background: linear-gradient(to top, #d5d4d0 0%, #fff 100%);
    box-shadow: 2px 2px 3px #aaa;
    border-radius: 50%;
    text-align: center;
}

.process-list img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: block;
    top: 25px;
    width: 30%;
    margin: auto;
}

.process-list .bx-right-arrow-alt {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 50px;
    color: #aaa;
    transform: translateX(270%);
}

/*창업문의*/
#business-ask form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    margin: auto;
    overflow: hidden;
}

.form-left {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    width: 50%;
    height: 200px;
    padding: 10px;
}

.form-left .form-detail {
    display: flex;
}

.form-detail:nth-child(2) {
    margin: 10px 0;
}

.form-left label {
    display: block;
    width: 40%;
    padding: 10px 10px 10px 0;
    text-align: right;
    font-weight: bold;
}

.form-left input,
.form-left select {
    width: 60%;
    padding: 5px;
}

.form-left .text-enter-input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #ccc;
}

.form-left select {
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.form-right {
    width: 50%;
    height: 200px;
    padding: 10px;
}

.form-right textarea {
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    resize: none;
    background: transparent;
    border: none;
    border-bottom: 1px solid #ccc;
}

.button {
    position: relative;
    display: block;
    width: 300px;
    height: 40px;
    line-height: 40px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #ed6c37 0%, #f7b100 51%, #ed6c37 100%);
    background-size: 150%;
    background-position-x: 180%;
    margin: auto;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}

.button:hover {
    background-position-x: -50%;
}

/*
    ------------------business END----------------------
*/


/*
    ------------------media query START----------------------
*/

@media (max-width:1300px) {
}

@media (max-width:1200px) {
}

@media (max-width:1080px) {
}

@media (max-width:1024px) {

}

@media (max-width:850px) {
    /*slide nav 사용*/
}

@media (max-width:768px) {
    /*media query business*/
    .process-list {
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 20vh;
        padding: 0;
        margin: 0;
        border-radius: 20px;
        line-height: 20vh;
    }

    .process-list:not(last-child) {
        margin-bottom: 3em;
    }

    .process-list img {
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 20%;
        height: 100%;
        margin: 0 2em;
        object-fit: contain;
        max-width: 80px;
    }

    .process-list span {
        display: block;
        width: 50%;
        margin: 0;
        text-align: left;
    }

    .process-list .bx-right-arrow-alt {
        transform: translate(0, 13.2vh) rotate(90deg);
    }

    #business-ask {
        height: 60vh;
    }

    #business-ask form {
        height: 100%;
    }

    .form-left {
        width: 100%;
    }

    .form-left label {
        width: 22%;
        text-align: center;
    }

    .form-left input,
    .form-left select {
        width: 78%;
    }

    .form-right {
        width: 100%;
    }
}

@media (max-width:650px) {
    /*media query business*/
    .table-total {
        text-align: center;
    }
}

@media (max-width:500px) {
}

/*
    ------------------media query END----------------------
*/


/*media query 공통부분*/
/*media query index*/
/*media query brand*/
/*media query menu*/
/*media query store*/
/*media query business*/