/*google font*/
/*noto sans korean(본문)*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
    word-break: keep-all;
}

:root{
    --black : #141414;
    --gray : #ebebeb;
    --orange : #ed6c37;
    --yellow : #f7b100;
    --green : #18a93c;
}

html {
    width: 100%;
    overflow-x: hidden;
    font-size: 14px;
    /* color: var(--gray); */
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 900;
}


ul,
ol {
    list-style: none;
}

a {
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

section {
    padding: 100px 0;
}

.last-section{
    margin-bottom: 0;
    padding-bottom: 70px;
}

.flex-col {
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content: center;
}

.sub-title {
    position: relative;
    margin: 0 auto 1em;
    font-size: 3rem;
    text-align: center;
    line-height: 1.3;
    letter-spacing: -2px;
    z-index: 10;
}

.sub-title-back{
    position: relative;
    width: fit-content;
    height: fit-content;
}

.sub-title-back::before{
    content: "";
    position: absolute;
    top: 35%;
    left: -20%;
    display: block;
    width: 140%;
    height: 40%;
    margin: auto;
    background: var(--yellow);
    opacity: 0.4;
    z-index: -1;
}

/* .sub-title-back::before{
    content: "";
    display: block;
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 70%;
    max-width: 300px;
    height: 15px;
    margin: auto;
    background: var(--yellow);
    z-index: -10;
} */

.third-title{
    font-size: 1.5rem;
    line-height: 2;
}

.point {
    color: var(--orange);
}

.wrap{
    width: 80vw;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}


/*header #### PC VIEW ####*/
/*header - nav*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    z-index: 100;
    font-size: 16px;
    color: var(--gray);
    background: rgba(0,0,0,0.8);
    transition: all 0.3s ease;
}

header.fixed{
    background: rgba(0,0,0,1);
}


header.content-page{
    background:var(--gray);
    color: var(--black);
}


header.content-page.fixed{
    background:var(--gray);
    color: var(--black);
}

.nav-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* width: 80%; */
    height: 80px;
    margin: 0 auto;
}

#pc-view .menu-icon {
    display: none;
    width: 70px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    line-height: 80px !important;
    color: var(--gray);
    cursor: pointer;
    z-index: 999;
}

#pc-view .menu-x-icon{
    display: none;
    width: 70px;
    height: 80px;
    font-size: 24px;
    text-align: center;
    line-height: 80px !important;
    color: var(--gray);
    cursor:pointer;
    z-index: 999;
}


.logo {
    position: relative;
    width: fit-content;
    height: 100%;
}

.logo img {
    position: relative;
    top: 50%;
    display: block;
    width: fit-content;
    height: 45px;
    object-fit: contain;
    transform: translateY(-50%);
}

#pc-view:hover{
    background: rgba(0,0,0,1);
}

#pc-view nav {
    width: calc(100% - 20%);
    height: 100%;
    text-align: center;
}

#pc-view nav .link-total {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

#pc-view nav .link-total>li {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    box-sizing: border-box;
}

#pc-view nav .link-total>li:hover .sub-link{
    display: block;
}

#pc-view nav .sub-link {
    display: none;
    /*del*/
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    height: auto;
    background: rgba(0,0,0,1);
    overflow: hidden;
}

header.content-page .sub-link{
    background: rgba(255,255,255,0.6);
}

header nav .sub-link{
    background: rgba(0,0,0,1);
}


#pc-view nav .sub-link li {
    position: relative;
    height: 45px;
    line-height: 45px;
}

#pc-view nav li::before{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left:0;
    width: 0;
    height: 2px;
    margin: auto;
    background: var(--orange);
    transition: all 0.3s ease;
}

#pc-view nav li:hover::before{
    width: 100%;
}

#pc-view nav .menu-arrow{
    display: none;
}


/*section-line*/
.section-line{
    width: 100%;
    height: 8px;
    background: red;
    background: url(/img/bg_pattern_line.png) repeat-x;
}

/*footer*/
footer {
    width: 100%;
    height: 180px;
    /* margin-top: 100px; */
    padding: 20px 0;
    background: var(--black);
    color: #ececec;
}

.footer-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.footer-box h1{
    width: 20%;
}

.footer-txt{
    width: 60%;
    padding: 10px;
    text-align: center;
    line-height: 1.8;
}

.footer-sns{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    padding-bottom: 10px;
}

.footer-sns .bx{
    font-size: 2em;
    cursor: pointer;
    color: var(--gray);
}

/*
    반응형 mediaQuery
    1360
    1200
    945
    768
*/
@media (max-width:945px) {
    footer{
        height: 300px;
        text-align: center;
    }
    .footer-box{
        flex-flow: wrap;
        padding: 20px 0;
    }
    .footer-box h1{
        width: 100%;
    }
    .footer-txt{
        width: 100%;
    }
    .footer-sns{
        justify-content: center;
        width: 100%;
    }
    .footer-sns .bxl-instagram{
        margin: 0 15px;
    }
}

@media (max-width:1000px){
    #mobile-view{
        background: rgba(0,0,0,1);
    }

    #mobile-view .nav-box{
        display: block;
        position: relative;
    }

    .logo{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }

    #mobile-view .menu-icon {
        display: none;
        width: 70px;
        height: 80px;
        font-size: 24px;
        text-align: center;
        line-height: 80px !important;
        color: var(--gray);
        cursor:pointer;
        z-index: 999;
        opacity: 0;
    }

    #mobile-view .menu-icon.active{
        display: block;
        opacity: 1;
    }
    
    #mobile-view .menu-x-icon{
        display: none;
        width: 70px;
        height: 80px;
        font-size: 24px;
        text-align: center;
        line-height: 80px !important;
        color: var(--gray);
        cursor:pointer;
        z-index: 999;
    }

    #mobile-view .menu-x-icon.active{
        display: block;
    }

    #mobile-view nav{
        position: absolute;
        top: 80px;
        left: -110vw;
        display: block;
        width: 100vw;
        height: 100vh;
        text-align: center;
        line-height: 7vh;
        background-color: rgba(0,0,0,1);
        transition: all 0.5s ease;
        color: var(--gray);
    }
    
    #mobile-view nav.active{
        display: block;
        left: -10vw;
        transition: all 0.5s ease;
    }

    .content-page .slide-nav{
        background-color: var(--gray);
        color:var(--black);
    }

    .fixed .slide-nav{
        background-color: rgba(0,0,0,1);
        color: var(--gray);
    }

    .fixed .bx-menu{
        color: var(--gray);
    }

    #mobile-view nav li{
        position: relative;
        height: auto;
    }

    .sub-link{
        display: none;
    }

    #mobile-view nav .sub-link li{
        background-color: rgba(255,255,255,0.1);
    }

    .sub-link.active{
        display: block;
    }

    #mobile-view nav .slide-nav-link-d{
        position: relative;
    }

    #mobile-view nav .main-link .menu-arrow{
        margin-left: 10px;
        transition: all 0.5s ease;
        transform: rotate(0deg);
    }
    #mobile-view nav li .menu-arrow.active{
        transform: rotate(180deg);
    }
    #mobile-view nav li:hover .menu-arrow{
        transform: rotate(180deg);
        /* animation: arrowRotate 1s ease forwards; */
    }

    @keyframes arrowRotate{
        0%{
        transform: rotate(0deg)
        }
        100%{
        transform: rotate(180deg)
        }
    }

    /* #mobile-view nav .main-link .menu-arrow{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        width: 8px;
        height: 8px;
        margin: auto;
        transform: translateX(50px);
        transition: all 0.25s ease-in-out;
    } */

    /* #mobile-view nav li:hover .menu-arrow{
        transform: translateX(50px) rotate(180deg);
    } */

    /* .sub-title-back::before{
        width: 100%;
    } */


}