body {
    background: var(--gray);
    /* background: url(/img/bg.jpg); */
    /* background-attachment: fixed; */
}

/*main-slide*/
#main-slide {
    position: relative;
    width: 100%;
    height: 95vh;
    padding: 0;
    margin-top: 0;
}

.slide-box{
    position: relative;
    width: 100%;
    height: 100%;
}

#main-slide *{
    transition: all 0.3s ease;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    opacity: 0;
}

.slide.active{
    opacity: 1;
}

.slide-pagers{
    position: absolute;
    left: 0; right: 0;
    bottom: 30px;
    margin: auto;
    width: fit-content;
    height: 15px;
    text-align: center;
}

.slide-pager{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 3px;
    border-radius: 15px;
    background: rgb(150, 150, 150);
    cursor:pointer;
}

.slide-pager.active{
    width: 150px;
    background: var(--yellow);
}

.slide-arrow{
    position: absolute;
    top: 0; bottom: 0;
    display: block;
    width: 80px; height: 80px;
    margin: auto;
    background: transparent;
    color: var(--gray);
    font-size: 4rem;
    font-weight: bold;
    border: none;
    border-radius: 50%;
    z-index: 90;
    cursor: pointer;
}

.slide-arrow:hover{
    color: #ed6c37;
}

#slide-arrow-prev{
    left: 5vw;
}

#slide-arrow-next{
    right: 5vw;
}

.slide-1{
    background-image:url(/img/main_slide03.jpg);
}

.slide-text{
    position: absolute;
    width: fit-content;
    height: fit-content;
    padding: 2em;
    text-align: left;
    font-size: 2rem;
    line-height: 1.5;
    color: var(--gray);
}

.slide-text .point{
    font-size: 2.5rem;
    font-weight: bold;
}

.slide-1 .slide-text{
    top: 0; bottom: 0;
    left: 0; right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: auto;
    padding: 2em;
    text-align: center;
    font-size: 2rem;
    background: rgba(0,0,0,0.8);
    z-index: 10;
}

.slide-2{
    background-image:url(/img/main_slide02.jpg);
}

.slide-2 .slide-text{
    top: 0; bottom: 0;
    left: 15%;
    height: fit-content;
    margin: auto;
    text-align: left;
    background: rgba(0,0,0,0.8);
    z-index: 10;
}

.slide-3{
    background-image:url(/img/main_slide01.jpg);
}

.slide-3 .slide-text{
    top: 15%;
    left: 12%;
    margin: auto;
    height: fit-content;
    text-align: left;
    z-index: 10;
}


/*main-menu*/
#main-menu {
    height: max-content;
}

.menu-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 550px;
}

.menu {
    position: relative;
    width: 32%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease;
    cursor: pointer;
}
.menu-img {
    width: 100%;
    height: 100%;
}

.menu-1 .menu-img{
    background-image: url(/img/main_menu01.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.menu-2 .menu-img{
    background-image: url(/img/main_menu02.jpg);
    background-size: cover;
    background-position: 50% 50%;
}

.menu-3 .menu-img{
    background-image: url(/img/main_menu03.jpg);
    background-size: cover;
    background-position: 50% 50%;
}


.menu-hover-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40%;
    padding: 20px;
    text-align: center;
    word-break: keep-all;
    color: var(--gray);
    background: rgba(0,0,0,0.8);
    transition: all 0.5s ease-in-out;
    overflow: hidden;
    z-index: 90;
}

.menu-hover-text h2{
    font-size: 1.5rem;
}

.menu-button{
    width: 40%;
    margin: 2em auto 0;
    padding: 1em;
    color: var(--gray);
    background: rgba(255,255,255,0.1);
    transition: all 0.3s ease-in-out;
}

.menu:hover{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
}

.menu:hover .menu-button{
    color: var(--orange);
    background: var(--gray);
}

.menu:hover .menu-button:hover{
    color: var(--gray);
    background: var(--orange);
}

.menu:hover .menu-hover-text {
    height: 100%;
}

.menu-hover-text h2 {
    font-size: 2rem;
    margin-bottom: 0.5em;
}


/*store, business*/

#main-store-business {
    background: url(/img/bg_pattern_slash.png) 0 0 repeat;
    height: max-content;
}

#main-store-business .wrap{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.store-business-button{
    width: 40%;
    margin: 2em auto 0;
    padding: 1em;
    color: var(--gray);
    background: rgba(0,0,0,0.5);
    transition: all 0.3s ease-in-out;
}

.store-business-button:hover{
    color: var(--gray);
    background: var(--orange);
}

.store-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    justify-content: center;
    width: 45%;
}

.store-box .store-content-wrap{
    position: relative;
    width: 100%;
    height: 600px;
}

.store-box h1{
    width: 100%;
}

.store-img {
    width: 100%;
    height: 100%;
    background: url(/img/main_store.jpg) center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.store-text {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
    height: 100%;
    /* padding: 0 40px; */
    background: rgba(20, 20, 20, 0.85);
    text-align: center;
    word-break: keep-all;
    color: var(--gray);
}

.store-text h2 {
    width: 100%;
    margin: 0 auto 1em;
    line-height: 2em;
    letter-spacing: 4px;
}

.store-text p{
    position: relative;
    width: 80%;
    margin: 0 auto 1em;
    word-break: keep-all;
}

.store-text p:last-of-type{
    margin-bottom: 0;
}

.store-icon{
    position: relative;
    left: -5px;
    bottom: 2px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: middle;
}

.business-box{
    width: 50%;
    height: fit-content;
    text-align: center;
}

.business-text{
    width: 100%;
    height: fit-content;
    min-height: 500px;
    padding: 30px;
    background: white;
}

.business-text ol{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    height: fit-content;
    margin: 20px auto 0;
}

.business-text ol li{
    position: relative;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding: 20px 10px 10px 10px;
    margin: 15px 20px 15px 15px;
    word-break: keep-all;
    text-align: center;
    line-height: 1;
    background: var(--gray);
    transition: all 0.3s ease;
}

.business-text ol li:hover{
    background: var(--yellow);
    color: white;
}

.business-text ol li:hover i:not(.business-text-icon-arrow){
    color: white;
}

.business-text .bxs-chevron-right{
    position: absolute;
    top: 0; bottom: 0;
    right: -35px;
    display: block !important;
    width: 35px;
    height: 35px;
    margin: auto;
    font-size: 35px;
}

.business-text-icon{
    display: block !important;
    width: 35px;
    margin: 0 auto 0.2em;
    font-size: 35px;
    text-align: center;
}

.business-text-icon-arrow{
    color: var(--black);
    transition: all 0.3s ease;
}


/*
    반응형 mediaQuery
    1360
    1200
    945
    768
*/


@media (max-width: 1360px){
    .store-text {
        width: 100%;
        height: 50%;
    }
}

@media (max-width: 1200px){
    .slide-arrow{
        display: none;
    }
    .slide-1 .slide-text{
        height: 50%;
        padding: 2em 10vw;
    }
    .slide-2 .slide-text{
        top: 0; bottom: 0;
        left: 0; right: 0;
        height: fit-content;
        margin: auto;
        text-align: left;
        background: rgba(0,0,0,0.8);
        z-index: 10;
    }
    .slide-3 .slide-text{
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: auto;
        height: fit-content;
        text-align: left;
        background: rgba(0,0,0,0.8);
        z-index: 10;
    }
    
    .menu-box{
        display: block;
        height: max-content;
    }
    .menu{
        width: 100%;
        height: 300px;
        margin-bottom: 1em;
    }
    .menu-hover-text {
        height: 50%;
        transition: none;
    }
    
    .menu-button{
        width: 30%;
        margin: 2em auto auto;
    }
    
    .menu:hover{
        box-shadow: none;
    }
    
    .menu:hover .menu-hover-text {
        height: 50%;
    }
    
    #main-store-business .wrap{
        display: block;
    }

    .store-box{
        width: 100%;
        margin-bottom: 100px;
    }

    .store-text{
        width: 50%;
        height: 100%;
    }

    .business-box{
        width: 100%;
    }
}

@media (max-width:768px) {
    .store-text{
            width: 100%;
            height: 50%;
        }
}