
.menu-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background: yellow; */
}

.menu-common{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    height: 250px;
    padding: 30px 20px;
    margin-top: 10px;
    border-radius: 20px;
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    transition: all 0.3s ease;
}

.menu-common:hover{
    box-shadow: 1px 1px 10px var(--gray);
}

.menu-common img{
    width: 50%;
    max-height: 200px;
}

.menu-text{
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 50%;
    height: 100%;
    padding-left: 25px;
    word-break: keep-all;
    overflow: hidden;
}

.menu-text h2{
    height: 2em;
    margin-bottom: 1em;
}

.menu-text p{
    line-height: 1.6;
}


/*menu1 냉면*/
#menu-1{
    padding-top: 150px;
}

/*menu2 갈비*/

/*menu3 식사*/
#menu-3{
    padding-bottom: 150px;
}


#menu-3 .menu-text span{
    font-size: 0.7em;
}

/*
    반응형 mediaQuery
    1360
    1200
    945
    768
*/

@media (max-width:1360px){
    .menu-common{
        width: 48%;
        margin-top: 25px;
    }
}

@media (max-width:945px){
    .menu-common{
        justify-content: center;
        width: 100%;
        margin-top: 40px;
    }
    .menu-common img{
        width: auto;
        height: auto;
    }

    .menu-text{
        padding-left: 40px;
    }
}

@media (max-width: 768px){
    .menu-common{
        flex-direction: column;
        height: fit-content;
    }
    .menu-text{
        width: 100%;
        height: auto;
        margin-top: 1.5em;
        padding: 0;
        text-align: center;
    }
    .menu-text h2{
        margin-bottom: 0.5em;
    }
}

/* 
@media (max-width:1400px){
    .menu-box{
        align-items: center;
        margin: auto;
    }
    .menu-common{
        width: 45%;
    }
    .menu-1-3, .menu-1-4,
    .menu-2-3, .menu-2-4,
    .menu-3-3, .menu-3-4{
        margin-top: 2em;
    }
    .sub-title{
        margin-bottom: 2em;
    }
}

@media (max-width:945px){
    .sub-title{
        margin-bottom: 2em;
    }
    .menu-common{
        width: 95%;
    }
    .menu-1-2, .menu-2-2, .menu-3-2{
        margin: 2em 0;
    }
    .menu-1-3, .menu-2-3, .menu-3-3{
        margin-top: 0;
    }
    .menu-text{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: left;
    }
    .menu-text p{
        line-height: 1.5em;
    }
    .menu-3-2 img{
        width: 200px;
    }
}

@media (max-width:768px){
    .bx-menu{
        display: block !important;
        color:#000;
    }
}

@media (max-width:425px){
    section{
        margin-bottom: 0;
    }
    .menu-common{
        flex-flow: column;
        height: auto;
    }
    .menu-text{
        width: 100%;
        padding-left: 0;
        text-align: center;
    }
} */