
#store{
    padding: 150px 0;
}

.store-search{
    display: flex;
    width: 100%;
    height: 60px;
    padding: 10px 0;
    margin-bottom: 30px;
}

/*serach*/
.store-search select{
    width: 150px;
    height: 100%;
    padding: 5px;
    margin-left: auto;
    margin-right: 10px;
    border: none;
}

.store-search button{
    width: 100px;
    height: 100%;
    border: none;
    background-image: linear-gradient(120deg, var(--orange) 0%, var(--yellow) 100%);
    background-size: 130%;
    background-position-x: 0%;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: all 0.5s ease;
}
.store-search button:hover{
    background-position-x: 100%;
}

/*map*/
.store-map{
    display: flex;
    height: 450px;
}

.map{
    width: 60%;
    height: 100%;
}

/*store-list*/
.map-sub{
    width: 40%;
    min-width: 400px;
    height: 100%;
    padding: 20px;
    background: #fff;
    overflow-y: scroll;
}

.map-sub h2{
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.store-list{
    display: flex;
    align-items: stretch;
    width: 100%;
    height: 150px;
    padding: 10px;
    padding-left: 0;
}

.store-list img{
    width: auto;
    height: 100%;
    margin-right: 15px;
}

.store-list-text{
    width: 70%;
    line-height: 1.8em;
}

@media (max-width:1300px){
    .store-list{
        flex-flow: column;
        height: auto;
    }
    .store-list img{
        height: 70%;
        margin-right: 0;
    }
    .store-list-text{
        width: 100%;
        margin-top: 5px;
    }

}

@media (max-width:950px){
    .store-search{
        align-items: center;
        justify-content: center;
    }

    .store-search select{
        margin-left: 0;
    }

    .store-map{
        flex-flow: column;
        height: 90vh;
    }
    .map{
        width: 100%;
        height: 50%;
    }
    .map-sub{
        width: 100%;
        height: 50%;
        text-align: center;
    }
    .store-list{
        flex-flow: row;
    }
    .store-list img{
        height: 70%;
        margin-right: 15px;
    }
}

@media (max-width:750px){
    .bx-menu{
        display: block !important;
        color:#000;
    }
}

@media (max-width:550px){
    .store-list{
        flex-flow: column;
    }
    .store-list img{
        margin-right: 0;
    }
}